.card.top-indent
    .wrapper
        ul.breadcrumbs.col-12.indent
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="catalog.html").breadcrumbs__link Каталог
            li.breadcrumbs__item
                a(href="category.html").breadcrumbs__link Швейцарские Армейские ножи Victorinox
            li.breadcrumbs__item
                a(href="category-page.html").breadcrumbs__link Средние карманные ножи
            li.breadcrumbs__item Нож перочинный Spartan Российская армия Victorinox 1.3603 ARMY

        .card__top-block
            .slider.col-7.indent
                .slider__window.Gallery_open
                    .slider__window-img
                        img(src="img/Content/Card/card-1.jpg" alt="").slider__window-img-item
                    .slider__window-img
                        img(src="img/Content/Card/card-2.jpg" alt="").slider__window-img-item
                    .slider__window-img
                        img(src="img/Content/Card/card-1.jpg" alt="").slider__window-img-item
                   
                .slider__controll
                    .slider__controll-item.on(data-item="1")
                        img(src="img/Content/Card/card-1.jpg" alt="").slider__controll-item-img
                    .slider__controll-item(data-item="2")
                        img(src="img/Content/Card/card-2.jpg" alt="").slider__controll-item-img
                    .slider__controll-item(data-item="3")
                        img(src="img/Content/Card/card-3.jpg" alt="").slider__controll-item-img
                    
            .card__top-block-right.col-5.indent
                h1.card__top-block-right-head Нож перочинный Spartan Российская армия Victorinox 1.3603 ARMY
                .card__top-block-right-info
                    .card__top-block-right-info-code Артикул: 0.9410.3
                    .card__top-block-right-info-availability Товар в наличии
                .card__top-block-right-color
                    .card__top-block-right-color-head Цвет
                    .card__top-block-right-color-icon
                        .card__top-block-right-color-item
                            input(type="radio" id="color-1" name="color" value="red").card__top-block-right-color-item-ch
                            .card__top-block-right-color-item-label-wrap
                                label(for="color-1").card__top-block-right-color-item-label
                                    img(src="img/Content/Card/color-red.jpg").card__top-block-right-color-item-label-img

                        .card__top-block-right-color-item
                            input(type="radio" id="color-2" name="color" value="blue").card__top-block-right-color-item-ch
                            .card__top-block-right-color-item-label-wrap
                                label(for="color-2").card__top-block-right-color-item-label
                                    img(src="img/Content/Card/color-blue.jpg").card__top-block-right-color-item-label-img

                        .card__top-block-right-color-item
                            input(type="radio" id="color-3" name="color" value="black").card__top-block-right-color-item-ch
                            .card__top-block-right-color-item-label-wrap
                                label(for="color-3").card__top-block-right-color-item-label
                                    img(src="img/Content/Card/color-black.jpg").card__top-block-right-color-item-label-img

                        .card__top-block-right-color-item
                            input(type="radio" id="color-4" name="color" value="haki").card__top-block-right-color-item-ch
                            .card__top-block-right-color-item-label-wrap
                                label(for="color-4").card__top-block-right-color-item-label
                                    img(src="img/Content/Card/color-hz.jpg").card__top-block-right-color-item-label-img

                        .card__top-block-right-color-item
                            input(type="radio" id="color-5" name="color" value="red").card__top-block-right-color-item-ch
                            .card__top-block-right-color-item-label-wrap
                                label(for="color-5").card__top-block-right-color-item-label
                                    img(src="img/Content/Card/color-red.jpg").card__top-block-right-color-item-label-img

                        .card__top-block-right-color-item
                            input(type="radio" id="color-6" name="color" value="blue").card__top-block-right-color-item-ch
                            .card__top-block-right-color-item-label-wrap
                                label(for="color-6").card__top-block-right-color-item-label
                                    img(src="img/Content/Card/color-blue.jpg").card__top-block-right-color-item-label-img

                        .card__top-block-right-color-item
                            input(type="radio" id="color-7" name="color" value="black").card__top-block-right-color-item-ch
                            .card__top-block-right-color-item-label-wrap
                                label(for="color-7").card__top-block-right-color-item-label
                                    img(src="img/Content/Card/color-black.jpg").card__top-block-right-color-item-label-img

                        .card__top-block-right-color-item
                            input(type="radio" id="color-8" name="color" value="haki").card__top-block-right-color-item-ch
                            .card__top-block-right-color-item-label-wrap
                                label(for="color-8").card__top-block-right-color-item-label
                                    img(src="img/Content/Card/color-hz.jpg").card__top-block-right-color-item-label-img
                        
                        
                .card__top-block-right-cost-block
                    .card__top-block-right-cost-block-price 72,50 руб.
                    .card__top-block-right-cost-block-old-price 72,50 руб.
                .card__top-block-right-btn-block
                    button.card__top-block-right-busket 
                        .card__top-block-right-busket-text В корзину
                    button.card__top-block-right-1click 
                        .card__top-block-right-1click-text Купить в 1 клик
                .card__top-block-right-properties-block
                    .card__top-block-right-properties-block-head Основные свойства
                    ul.card__top-block-right-properties-block-list
                        li.card__top-block-right-properties-block-list-item 12 функций
                        li.card__top-block-right-properties-block-list-item С кольцом, пинцетом и зубочисткой
                        li.card__top-block-right-properties-block-list-item Вес 59 гр
                        li.card__top-block-right-properties-block-list-item Высота 14,5 мм
                        li.card__top-block-right-properties-block-list-item Длина 91 мм
        .card__tabs#tabs
            ul.card__tabs-list.indent
                li.card__tabs-item
                    a(href="#tabs-1").card__tabs-link Описание
                li.card__tabs-item
                    a(href="#tabs-2").card__tabs-link Характеристики
                li.card__tabs-item
                    a(href="#tabs-3").card__tabs-link Функции
                li.card__tabs-item
                    a(href="#tabs-4").card__tabs-link Гарантия и сервис
            
            .card__tabs-content#tabs-1  
                .card__tabs-content-left.col-8.indent
                    .card__tabs-content-head Артикул № 1.3603 ARMY
                    .card__tabs-content-text-block
                        p.card__tabs-content-text Карманный нож с открывалкой из серии с Российскими дизайнами Когда вы слышите слова швейцарский армейский нож, скорее всего, вы думаете о легендарном офицерском ноже Victorinox. И эта легенда продолжает жить с карманным ножом серии Spartan. Victorinox совместно с компанией Галсэр представляет вашему вниманию новинку – модель, которая прекрасно подойдёт в качества подарка на День защитника Отечества.
                        p.card__tabs-content-text Цвет рукояти: камуфляж
                .card__tabs-content-right.col-4.indent
                    .card__tabs-content-head Рекомендуемые чехлы:
                    p.card__tabs-content-text Рекомендуемые чехлы:<br> 4.0480.1, 4.0480.3, 4.0520.1, 4.0520.3, 4.0520.31, 4.0543.3, 4.0736 
                
            .card__tabs-content#tabs-2
                .card__tabs-content-left.col-8.indent
                    .card__tabs-content-head Швейцарский армейский нож SPARTAN имеет 12 функций:
                    ol.card__tabs-content-list
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text Большое лезвие
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text Малое лезвие
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text Штопор
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text Консервный нож с:
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text - Малой отвёрткой
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text Открывалка для бутылок с:
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text - Отвёрткой
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text - Инструментом для снятия изоляции
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text Шило, кернер
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text Кольцо для ключей
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text Пинцет
                        li.card__tabs-content-text-block-item 
                            span.card__tabs-content-text-block-item-text Зубочистка
                .card__tabs-content-right.col-4.indent
                    .card__tabs-content-head Рекомендуемые чехлы:
                    p.card__tabs-content-text Инструмент для заточки:<br> 4.3311, 4.3323, 4.0567.32 
                    p.card__tabs-content-text Держатели на ремень:<br> 4.1853, 4.1858, 4.1859, 4.1860
                    p.card__tabs-content-text Цепочки длинные:<br> 4.1813, 4.1814, 4.1815
                    p.card__tabs-content-text Цепочки короткие:<br> 4.1820
                    p.card__tabs-content-text Комбинированные цепочки:<br> 4.1854
                    p.card__tabs-content-text Шнурок с карабином:<br> 4.1879
                    p.card__tabs-content-text Масло смазочное:<br> 4.3302

            .card__tabs-content#tabs-3  
                .card__tabs-content-left.col-8.indent
                    .card__tabs-content-head Артикул № 1.3603 ARMY
                    .card__tabs-content-text-block
                        p.card__tabs-content-text Карманный нож с открывалкой из серии с Российскими дизайнами Когда вы слышите слова швейцарский армейский нож, скорее всего, вы думаете о легендарном офицерском ноже Victorinox. И эта легенда продолжает жить с карманным ножом серии Spartan. Victorinox совместно с компанией Галсэр представляет вашему вниманию новинку – модель, которая прекрасно подойдёт в качества подарка на День защитника Отечества.
                        p.card__tabs-content-text Цвет рукояти: камуфляж
                .card__tabs-content-right.col-4.indent
                    .card__tabs-content-head Рекомендуемые чехлы:
                    p.card__tabs-content-text Рекомендуемые чехлы:<br> 4.0480.1, 4.0480.3, 4.0520.1, 4.0520.3, 4.0520.31, 4.0543.3, 4.0736 
            .card__tabs-content#tabs-4  
                .card__tabs-content-left.col-8.indent
                    .card__tabs-content-head Артикул № 1.3603 ARMY
                    .card__tabs-content-text-block
                        p.card__tabs-content-text Карманный нож с открывалкой из серии с Российскими дизайнами Когда вы слышите слова швейцарский армейский нож, скорее всего, вы думаете о легендарном офицерском ноже Victorinox. И эта легенда продолжает жить с карманным ножом серии Spartan. Victorinox совместно с компанией Галсэр представляет вашему вниманию новинку – модель, которая прекрасно подойдёт в качества подарка на День защитника Отечества.
                        p.card__tabs-content-text Цвет рукояти: камуфляж
                .card__tabs-content-right.col-4.indent
                    .card__tabs-content-head Рекомендуемые чехлы:
                    p.card__tabs-content-text Рекомендуемые чехлы:<br> 4.0480.1, 4.0480.3, 4.0520.1, 4.0520.3, 4.0520.31, 4.0543.3, 4.0736 

        .card__kit
            .head-h1.col-8.indent Подобрать комплект
            .card__kit-wrapper
                .card__kit-tabs.col-8#tabs-kit
                    ul.card__kit-tabs-list.indent
                        li.card__kit-tabs-list-item
                            a(href="#tabs-kit-1").card__kit-tabs-list-link Все
                        li.card__kit-tabs-list-item
                            a(href="#tabs-kit-2").card__kit-tabs-list-link Чехлы
                        li.card__kit-tabs-list-item
                            a(href="#tabs-kit-3").card__kit-tabs-list-link Прочие аксессуары
                        li.card__kit-tabs-list-item
                            a(href="#tabs-kit-4").card__kit-tabs-list-link Металлические цепочки и аксессуары
                        li.card__kit-tabs-list-item
                            a(href="#tabs-kit-5").card__kit-tabs-list-link Разное

                    .card__kit-tabs-content#tabs-kit-1
                        ul.card__kit-tabs-content-list
                            li.card__kit-tabs-content-item.col-6.indent
                                input(type="checkbox" id="kit-1" name="kit").card__kit-tabs-content-item-info-add-input
                                label(for="kit-1").card__kit-tabs-content-item-wrapper
                                    .card__kit-tabs-content-item-left
                                        .card__kit-tabs-content-item-img-block
                                            img(src="img/Content/Card/card-5.jpg" alt="").card__kit-tabs-content-item-img
                                        .card__kit-tabs-content-item-head Чехол на ремень<br> из искусственной кожи
                                    .card__kit-tabs-content-item-info
                                        .card__kit-tabs-content-item-info-cost 55,00&nbspруб.
                                        .card__kit-tabs-content-item-info-add
                                            .card__kit-tabs-content-item-info-add-label Добавить
                            li.card__kit-tabs-content-item.col-6.indent
                                input(type="checkbox" id="kit-2" name="kit").card__kit-tabs-content-item-info-add-input
                                label(for="kit-2").card__kit-tabs-content-item-wrapper
                                    .card__kit-tabs-content-item-left
                                        .card__kit-tabs-content-item-img-block
                                            img(src="img/Content/Card/card-5.jpg" alt="").card__kit-tabs-content-item-img
                                        .card__kit-tabs-content-item-head Чехол на ремень<br> из искусственной кожи
                                    .card__kit-tabs-content-item-info
                                        .card__kit-tabs-content-item-info-cost 55,00&nbspруб.
                                        .card__kit-tabs-content-item-info-add
                                            .card__kit-tabs-content-item-info-add-label Добавить
                            li.card__kit-tabs-content-item.col-6.indent
                                input(type="checkbox" id="kit-3" name="kit").card__kit-tabs-content-item-info-add-input
                                label(for="kit-3").card__kit-tabs-content-item-wrapper
                                    .card__kit-tabs-content-item-left
                                        .card__kit-tabs-content-item-img-block
                                            img(src="img/Content/Card/card-5.jpg" alt="").card__kit-tabs-content-item-img
                                        .card__kit-tabs-content-item-head Чехол на ремень<br> из искусственной кожи
                                    .card__kit-tabs-content-item-info
                                        .card__kit-tabs-content-item-info-cost 55,00&nbspруб.
                                        .card__kit-tabs-content-item-info-add
                                            .card__kit-tabs-content-item-info-add-label Добавить
                            li.card__kit-tabs-content-item.col-6.indent
                                input(type="checkbox" id="kit-4" name="kit").card__kit-tabs-content-item-info-add-input
                                label(for="kit-4").card__kit-tabs-content-item-wrapper
                                    .card__kit-tabs-content-item-left
                                        .card__kit-tabs-content-item-img-block
                                            img(src="img/Content/Card/card-5.jpg" alt="").card__kit-tabs-content-item-img
                                        .card__kit-tabs-content-item-head Чехол на ремень<br> из искусственной кожи
                                    .card__kit-tabs-content-item-info
                                        .card__kit-tabs-content-item-info-cost 55,00&nbspруб.
                                        .card__kit-tabs-content-item-info-add
                                            .card__kit-tabs-content-item-info-add-label Добавить
                            

                        .product-block__show-more.indent
                            .product-block__show-more-wrapper
                                .product-block__show-more-text Показать еще 10 товаров

                            

                    .card__kit-tabs-content#tabs-kit-3
                        

                    .card__kit-tabs-content#tabs-kit-4
                        

                    .card__kit-tabs-content#tabs-kit-5
                        

                .card__kit-selected.col-4.indent
                    .card__kit-selected-wrapper
                        .card__kit-selected-head Комплект
                        ul.card__kit-selected

                            li.card__kit-selected-item
                                .card__kit-selected-item-left
                                    .card__kit-selected-item-left-img-block
                                        img(src="img/Content/Card/card-1.jpg" alt="").card__kit-selected-item-left-img
                                    .card__kit-selected-item-left-head Spartan
                                .card__kit-selected-item-right
                                    .card__kit-selected-item-right-cost 55,00&nbspруб.

                            li.card__kit-selected-item
                                .card__kit-selected-item-left
                                    .card__kit-selected-item-left-img-block
                                        img(src="img/Content/Card/card-5.jpg" alt="").card__kit-selected-item-left-img
                                    .card__kit-selected-item-left-head Чехол на ремень из искусственной кожи
                                .card__kit-selected-item-right
                                    .card__kit-selected-item-right-cost 55,00&nbspруб.
                                    .card__kit-selected-item-right-del-block
                                            .card__kit-selected-item-right-del Удалить

                            li.card__kit-selected-item
                                .card__kit-selected-item-left
                                    .card__kit-selected-item-left-img-block
                                        img(src="img/Content/Card/card-3.jpg" alt="").card__kit-selected-item-left-img
                                    .card__kit-selected-item-left-head Чехол на ремень из искусственной кожи
                                .card__kit-selected-item-right
                                    .card__kit-selected-item-right-cost 55,00&nbspруб.
                                    .card__kit-selected-item-right-del-block
                                            .card__kit-selected-item-right-del Удалить
  
                            
                        .card__kit-selected-bottom-block
                            .card__kit-selected-bottom-block-all-cost 170,96 руб.
                            button.card__kit-selected-bottom-block-btn 
                                .card__kit-selected-bottom-block-btn-text В корзину


        .card__collection
            .head-h1.col-8.indent Ножи из коллекции    
            ul.card__collection-slider
                li.product-wrapper.col-4
                    .product
                        a(href="card.html").product__top-link
                            .product__img-block
                                img(src="img/content/product/product-2.jpg" alt="").product__img
                            .product__head-block
                                .product__head-block-name Huntsman
                                .product__head-block-code 1.3714.E8

                        .product__color-block
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-blue.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-black.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-hz.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img

                        a(href="card.html").product__bottom-link
                            .product__info
                                .product__info-item
                                    .product__info-item-text Вес
                                    .product__info-item-mean 97 гр
                                .product__info-item
                                    .product__info-item-text Высота
                                    .product__info-item-mean 21 мм
                                .product__info-item
                                    .product__info-item-text Длина
                                    .product__info-item-mean 91 мм
                            .product__cost 223,50 руб.
                            button.product__btn В корзину


                li.product-wrapper.col-4
                    .product
                        a(href="card.html").product__top-link
                            .product__img-block
                                img(src="img/content/product/product-1.jpg" alt="").product__img
                            .product__head-block
                                .product__head-block-name Huntsman
                                .product__head-block-code 1.3714.E8

                        .product__color-block
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-blue.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-black.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-hz.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img

                        a(href="card.html").product__bottom-link
                            .product__info
                                .product__info-item
                                    .product__info-item-text Вес
                                    .product__info-item-mean 97 гр
                                .product__info-item
                                    .product__info-item-text Высота
                                    .product__info-item-mean 21 мм
                                .product__info-item
                                    .product__info-item-text Длина
                                    .product__info-item-mean 91 мм
                            .product__cost 223,50 руб.
                            button.product__btn В корзину


                li.product-wrapper.col-4
                    .product
                        a(href="card.html").product__top-link
                            .product__img-block
                                img(src="img/content/product/product-3.jpg" alt="").product__img
                            .product__head-block
                                .product__head-block-name Huntsman
                                .product__head-block-code 1.3714.E8

                        .product__color-block
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-blue.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-black.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-hz.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img

                        a(href="card.html").product__bottom-link
                            .product__info
                                .product__info-item
                                    .product__info-item-text Вес
                                    .product__info-item-mean 97 гр
                                .product__info-item
                                    .product__info-item-text Высота
                                    .product__info-item-mean 21 мм
                                .product__info-item
                                    .product__info-item-text Длина
                                    .product__info-item-mean 91 мм
                            .product__cost 223,50 руб.
                            button.product__btn В корзину

                li.product-wrapper.col-4
                    .product
                        a(href="card.html").product__top-link
                            .product__img-block
                                img(src="img/content/product/product-1.jpg" alt="").product__img
                            .product__head-block
                                .product__head-block-name Huntsman
                                .product__head-block-code 1.3714.E8

                        .product__color-block
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-blue.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-black.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-hz.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img

                        a(href="card.html").product__bottom-link
                            .product__info
                                .product__info-item
                                    .product__info-item-text Вес
                                    .product__info-item-mean 97 гр
                                .product__info-item
                                    .product__info-item-text Высота
                                    .product__info-item-mean 21 мм
                                .product__info-item
                                    .product__info-item-text Длина
                                    .product__info-item-mean 91 мм
                            .product__cost 223,50 руб.
                            button.product__btn В корзину

                li.product-wrapper.col-4
                    .product
                        a(href="card.html").product__top-link
                            .product__img-block
                                img(src="img/content/product/product-1.jpg" alt="").product__img
                            .product__head-block
                                .product__head-block-name Huntsman
                                .product__head-block-code 1.3714.E8

                        .product__color-block
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-blue.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-black.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-hz.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img
                            .product__color
                                img(src="img/Content/Card/color-red.jpg").product__color-img

                        a(href="card.html").product__bottom-link
                            .product__info
                                .product__info-item
                                    .product__info-item-text Вес
                                    .product__info-item-mean 97 гр
                                .product__info-item
                                    .product__info-item-text Высота
                                    .product__info-item-mean 21 мм
                                .product__info-item
                                    .product__info-item-text Длина
                                    .product__info-item-mean 91 мм
                            .product__cost 223,50 руб.
                            button.product__btn В корзину

        .gallery#Gallery
            button.Gallery_close.pop-up__close

            h1.card__top-block-right-head Нож перочинный Spartan Российская армия Victorinox 1.3603 ARMY
            .card__top-block-right-info
                .card__top-block-right-info-code Артикул: 0.9410.3
                .card__top-block-right-info-availability Товар в наличии

            .card__top-block-right-cost-block
                .card__top-block-right-cost-block-price 72,50 руб.
                .card__top-block-right-cost-block-old-price 72,50 руб.
            .card__top-block-right-btn-block
                button.card__top-block-right-busket 
                    .card__top-block-right-busket-text В корзину
                button.card__top-block-right-1click 
                    .card__top-block-right-1click-text Купить в 1 клик

            .gallery__img
                img(src="img/Content/Card/card-1.jpg" ).gallery__img-item
            .gallery__img
                img(src="img/Content/Card/card-2.jpg" ).gallery__img-item
            
                