
<div class="category top-indent">
  <div class="wrapper">
    <ul class="breadcrumbs col-12 indent">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="catalog.html">Каталог</a></li>
      <li class="breadcrumbs__item">Швейцарские Армейские ножи Victorinox</li>
    </ul>
    <h1 class="head-h1 col-8 indent">Швейцарские Армейские ножи Victorinox</h1>
    <div class="text-block col-8 indent">
      <p class="text-block__paragraph text-block__paragraph_big">Те, кому нужно быть готовыми ко всему, всегда берут с собой один из этих ножей. С 1897 швейцарский армейский нож — это надежный инструмент для искателей приключений всего мира. Неважно путешествуете ли вы по городу, через океан, в горах или даже в космосе, швейцарский армейский нож останется вашим верным спутником, на которого вы сможете положиться.</p>
    </div>
    <div class="catalog-grid__top-block"><a class="catalog-grid__item col-6 indent" href="category-page.html"><img class="catalog-grid__item-img" src="img/content/category/category-1.jpg"/>
        <div class="catalog-grid__item-text-wrapper">
          <div class="catalog-grid__item-text catalog-grid__item-text_indent-1">Малые карманные ножи</div>
        </div></a><a class="catalog-grid__item col-6 indent" href="category-page.html"><img class="catalog-grid__item-img" src="img/content/category/category-2.jpg"/>
        <div class="catalog-grid__item-text-wrapper">
          <div class="catalog-grid__item-text catalog-grid__item-text_indent-2">Средние карманные ножи</div>
        </div></a><a class="catalog-grid__item col-6 indent" href="category-page.html"><img class="catalog-grid__item-img" src="img/content/category/category-3.jpg"/>
        <div class="catalog-grid__item-text-wrapper">
          <div class="catalog-grid__item-text catalog-grid__item-text_indent-3">Большие карманные ножи</div>
        </div></a><a class="catalog-grid__item col-6 indent" href="category-page.html"><img class="catalog-grid__item-img" src="img/content/category/category-4.jpg"/>
        <div class="catalog-grid__item-text-wrapper">
          <div class="catalog-grid__item-text catalog-grid__item-text_indent-4">Мультитулы Victorinox</div>
        </div></a><a class="catalog-grid__item col-6 indent" href="category-page.html"><img class="catalog-grid__item-img" src="img/content/category/category-5.jpg"/>
        <div class="catalog-grid__item-text-wrapper">
          <div class="catalog-grid__item-text catalog-grid__item-text_indent-5">Аксессуары</div>
        </div></a><a class="catalog-grid__item col-6 indent" href="category-page.html"><img class="catalog-grid__item-img" src="img/content/category/category-6.jpg"/>
        <div class="catalog-grid__item-text-wrapper">
          <div class="catalog-grid__item-text catalog-grid__item-text_indent-6">Швейцарские карточки</div>
        </div></a></div>
    <div class="head-h1 col-8 indent">Все ножи <span class="head-h1__quantity">385</span></div>
    <div class="catalog-block">
      <form class="filter col-3 indent">
        <div class="filter__head">Фильтры</div>
        <div class="filter__item">
          <div class="filter__item-head">Инструменты</div>
          <div class="filter__item-wrapper">
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-37" name="tool"/>
              <label class="filter__item-label" for="ch-37">Малое лезвие</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-38" name="tool"/>
              <label class="filter__item-label" for="ch-38">Штопор </label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-39" name="tool"/>
              <label class="filter__item-label" for="ch-39">Открывалка для бутылок</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-40" name="tool"/>
              <label class="filter__item-label" for="ch-40">Пинцет </label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-41" name="tool"/>
              <label class="filter__item-label" for="ch-41">Фиксирующее лезвие</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-42" name="tool"/>
              <label class="filter__item-label" for="ch-42">Интсрумент по уходу за ногтями</label>
            </div>
          </div>
        </div>
        <div class="filter__item">
          <div class="filter__item-head">Цена</div>
          <div class="filter__item-wrapper">
            <div class="filter__item-price-inp-wrapper">
              <input class="filter__item-price-inp-1" type="text" name="price-start" id="price" placeholder="От"/>
              <input class="filter__item-price-inp-2" type="text" name="price-end" id="price2" placeholder="До"/>
            </div>
            <div class="filter__item-price-slider" id="slider_price">       </div>
          </div>
        </div>
        <div class="filter__item">
          <div class="filter__item-head">Акции</div>
          <div class="filter__item-wrapper">
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="radio" id="ch-1" name="akcii" value="1"/>
              <label class="filter__item-label filter__item-label_radio" for="ch-1">Алюминий</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="radio" id="ch-2" name="akcii" value="2"/>
              <label class="filter__item-label filter__item-label_radio" for="ch-2">Дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="radio" id="ch-3" name="akcii" value="3"/>
              <label class="filter__item-label filter__item-label_radio" for="ch-3">Ореховое дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="radio" id="ch-4" name="akcii" value="4"/>
              <label class="filter__item-label filter__item-label_radio" for="ch-4">Пластик</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="radio" id="ch-5" name="akcii" value="5"/>
              <label class="filter__item-label filter__item-label_radio" for="ch-5">Полированный алюминий Alox</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="radio" id="ch-6" name="akcii" value="6"/>
              <label class="filter__item-label filter__item-label_radio" for="ch-6">Ребристый алюминий Alox</label>
            </div>
          </div>
        </div>
        <div class="filter__item">
          <div class="filter__item-head">Цвет</div>
          <div class="filter__item-wrapper">
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-31" name="material"/>
              <label class="filter__item-label" for="ch-31">Алюминий</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-32" name="material"/>
              <label class="filter__item-label" for="ch-32">Дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-33" name="material"/>
              <label class="filter__item-label" for="ch-33">Ореховое дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-34" name="material"/>
              <label class="filter__item-label" for="ch-34">Пластик</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-35" name="material"/>
              <label class="filter__item-label" for="ch-35">Полированный алюминий Alox</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-36" name="material"/>
              <label class="filter__item-label" for="ch-36">Ребристый алюминий Alox</label>
            </div>
          </div>
        </div>
        <div class="filter__item">
          <div class="filter__item-head">Вес, гр</div>
          <div class="filter__item-wrapper">
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-7" name="material"/>
              <label class="filter__item-label" for="ch-7">Алюминий</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-8" name="material"/>
              <label class="filter__item-label" for="ch-8">Дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-9" name="material"/>
              <label class="filter__item-label" for="ch-9">Ореховое дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-10" name="material"/>
              <label class="filter__item-label" for="ch-10">Пластик</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-11" name="material"/>
              <label class="filter__item-label" for="ch-11">Полированный алюминий Alox</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-12" name="material"/>
              <label class="filter__item-label" for="ch-12">Ребристый алюминий Alox</label>
            </div>
          </div>
        </div>
        <div class="filter__item">
          <div class="filter__item-head">Высота, мм</div>
          <div class="filter__item-wrapper">
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-13" name="material"/>
              <label class="filter__item-label" for="ch-13">Алюминий</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-14" name="material"/>
              <label class="filter__item-label" for="ch-14">Дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-15" name="material"/>
              <label class="filter__item-label" for="ch-15">Ореховое дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-16" name="material"/>
              <label class="filter__item-label" for="ch-16">Пластик</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-17" name="material"/>
              <label class="filter__item-label" for="ch-17">Полированный алюминий Alox</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-18" name="material"/>
              <label class="filter__item-label" for="ch-18">Ребристый алюминий Alox</label>
            </div>
          </div>
        </div>
        <div class="filter__item">
          <div class="filter__item-head">Материал</div>
          <div class="filter__item-wrapper">
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-19" name="material"/>
              <label class="filter__item-label" for="ch-19">Алюминий</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-20" name="material"/>
              <label class="filter__item-label" for="ch-20">Дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-21" name="material"/>
              <label class="filter__item-label" for="ch-21">Ореховое дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-22" name="material"/>
              <label class="filter__item-label" for="ch-22">Пластик</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-23" name="material"/>
              <label class="filter__item-label" for="ch-23">Полированный алюминий Alox</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-24" name="material"/>
              <label class="filter__item-label" for="ch-24">Ребристый алюминий Alox</label>
            </div>
          </div>
        </div>
        <div class="filter__item">
          <div class="filter__item-head">Размер ножа</div>
          <div class="filter__item-wrapper">
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-25" name="material"/>
              <label class="filter__item-label" for="ch-25">Алюминий</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-26" name="material"/>
              <label class="filter__item-label" for="ch-26">Дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-27" name="material"/>
              <label class="filter__item-label" for="ch-27">Ореховое дерево</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-28" name="material"/>
              <label class="filter__item-label" for="ch-28">Пластик</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-29" name="material"/>
              <label class="filter__item-label" for="ch-29">Полированный алюминий Alox</label>
            </div>
            <div class="filter__item-block">
              <input class="filter__item-checkbox" type="checkbox" id="ch-30" name="material"/>
              <label class="filter__item-label" for="ch-30">Ребристый алюминий Alox</label>
            </div>
          </div>
        </div>
        <button class="filter__recet" type="reset">Сбросить фильтр</button>
      </form>
      <div class="product-block col-9">
        <div class="product-block__top">
          <div class="product-block__top-filter indent">Фильтры</div>
          <div class="select-block indent">
            <select class="select" name="sort" id="select">
              <option class="select__option" value="hight-cost" selected="selected">По возрастанию цены</option>
              <option class="select__option" value="low-cost">По убыванию цены</option>
              <option class="select__option" value="name">По названию</option>
            </select>
          </div>
        </div>
        <ul class="product-list">
          <li class="product-wrapper col-4">
            <div class="product"><a class="product__top-link" href="card.html">
                <div class="product__img-block"><img class="product__img" src="img/content/product/product-1.jpg" alt=""/></div>
                <div class="product__head-block">
                  <div class="product__head-block-name">Huntsman</div>
                  <div class="product__head-block-code">1.3714.E8</div>
                </div>
                <div class="product__info">
                  <div class="product__info-item">
                    <div class="product__info-item-text">97 гр, 21 мм × 91 мм</div>
                  </div>
                </div></a>
              <div class="product__color-block">
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-red.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-blue.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-black.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-brick.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-red.jpg"/></div>
              </div><a class="product__bottom-link" href="card.html">
                <div class="product__cost">223,50 руб.</div>
                <button class="product__btn">В корзину</button></a>
            </div>
          </li>
          <li class="product-wrapper col-4">
            <div class="product"><a class="product__top-link" href="card.html">
                <div class="product__img-block"><img class="product__img" src="img/content/product/product-2.jpg" alt=""/></div>
                <div class="product__head-block">
                  <div class="product__head-block-name">Huntsman</div>
                  <div class="product__head-block-code">1.3714.E8</div>
                </div>
                <div class="product__info">
                  <div class="product__info-item">
                    <div class="product__info-item-text">97 гр, 21 мм × 91 мм</div>
                  </div>
                </div></a>
              <div class="product__color-block">
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-red.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-blue.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-black.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-brick.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-red.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-red.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-blue.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-brick.jpg"/></div>
              </div><a class="product__bottom-link" href="card.html">
                <div class="product__cost">223,50 руб.</div>
                <button class="product__btn">В корзину</button></a>
            </div>
          </li>
          <li class="product-wrapper col-4">
            <div class="product"><a class="product__top-link" href="card.html">
                <div class="product__img-block"><img class="product__img" src="img/content/product/product-3.jpg" alt=""/></div>
                <div class="product__head-block">
                  <div class="product__head-block-name">Huntsman</div>
                  <div class="product__head-block-code">1.3714.E8</div>
                </div>
                <div class="product__info">
                  <div class="product__info-item">
                    <div class="product__info-item-text">97 гр, 21 мм × 91 мм</div>
                  </div>
                </div></a>
              <div class="product__color-block">
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-red.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-blue.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-black.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-brick.jpg"/></div>
                <div class="product__color"><img class="product__color-img" src="img/Content/Card/color-red.jpg"/></div>
              </div><a class="product__bottom-link" href="card.html">
                <div class="product__cost">223,50 руб.</div>
                <button class="product__btn">В корзину</button></a>
            </div>
          </li>
        </ul>
        <div class="product-block__show-more indent">
          <div class="product-block__show-more-wrapper">
            <div class="product-block__show-more-text">Показать еще 12 товаров</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>