.catalog-grid
    .catalog-grid__top-block
        a(href="category.html").catalog-grid__item.col-7.indent
            img(src="img/content/main/catalog-1.jpg").catalog-grid__item-img
            .catalog-grid__item-text-wrapper
                .catalog-grid__item-text Армейские ножи
        a(href="category.html").catalog-grid__item.col-5.indent
            img(src="img/content/main/catalog-2.jpg").catalog-grid__item-img
            .catalog-grid__item-text-wrapper
                .catalog-grid__item-text Кухонные и профессиональные ножи
    a(href="category.html").catalog-grid__item.col-12.indent
        img(src="img/content/main/catalog-3.jpg").catalog-grid__item-img
        .catalog-grid__item-text-wrapper-right
            .catalog-grid__item-text-right Часы