.catalog.top-indent
    .wrapper
        ul.breadcrumbs.col-12.indent
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item Каталог
            
        h1.head-h1.col-8.indent Каталог
        .text-block.col-8.indent
            p.text-block__paragraph.text-block__paragraph_big Легендарные швейцарские армейские ножи — это основная линейка Victorinox, благодаря ей сегодня существуют все остальные категории товаров компании: ножи для дома и профессиеональные ножи; дорожные аксессуары, сумки и чемоданы.
            p.text-block__paragraph.text-block__paragraph_big Каждый продукт сохраняет основные качества швейцарского армейского ножа, объединяя функциональность, качество и инновационный дизайн.

        include _catalog-grid.jade
        include _popular-product.jade
        include _advantages.jade

        
