
<div class="contacts top-indent">
  <div class="wrapper">
    <ul class="breadcrumbs col-12 indent">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Компания</a></li>
      <li class="breadcrumbs__item">Контакты</li>
    </ul>
    <h1 class="head-h1 col-8 indent">Контакты</h1>
    <div class="map indent"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9af2acfa9ac27a4b987e53c9732d0b3a9852f48d233c2ab257ab194d1e8611b3&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>                                                </div>
    <div class="contacts__content col-8">
      <div class="text indent">
        <div class="text__block">
          <h4 class="text__paragraph_head">Адреса для почтовых отправлений</h4>
          <p class="text__paragraph">г. Минск, ул. Первомайская, дом 4, комната №09</p>
        </div>
        <div class="text__block">
          <h4 class="text__paragraph_head">Коротко о нас</h4>
          <p class="text__paragraph">Владелец магазина Торговое Унитарное предприятие «СвисТайм-Бел». Свидетельство о регистрации № 190732239 УНП 190732239 выдано 13.10.2014 г. Минским городским исполнительным комитетом.</p>
        </div>
        <div class="text__block">
          <h4 class="text__paragraph_head">Оформление заказа</h4>
          <p class="text__paragraph">Осуществить заказ вы можете по указанным контактным мобильным телефонам либо используя систему заказа товара в нашем интернет-магазине. В пункте "Ваш комментарий" опишите свои дополнительные требования к заказу.</p>
        </div>
        <div class="text__block">
          <h4 class="text__paragraph_head">Книга замечаний</h4>
          <p class="text__paragraph">Книга замечаний и предложений находится по адресу:<br> г. Минск, ул. Суражская 10, офис № 18</p>
        </div>
      </div>
      <div class="contacts__phone-mail">
        <div class="contacts__phone-block col-6 indent">
          <h4 class="text__paragraph_head">Позвоните нам:</h4><a class="contacts__phone-mail-text" href="tel:+375447401111">+375 44 740-11-11</a>
        </div>
        <div class="contacts__mail-block col-6 indent">
          <h4 class="text__paragraph_head">Напишите нам:</h4><a class="contacts__phone-mail-text" href="mailto:info@victorinox.by">info@victorinox.by</a>
        </div>
      </div>
      <div class="form indent">
        <div class="head-h1">Свяжитесь с нами</div>
        <form class="complaint-pop-up__wrapper">
          <div class="complaint-pop-up__input-block">
            <input class="complaint-pop-up__input" type="text" name="name" id="in-1"/>
            <label class="complaint-pop-up__label" for="in-1">Представьтесь</label>
          </div>
          <div class="complaint-pop-up__input-block complaint-pop-up__input-block_mail">
            <input class="complaint-pop-up__input" type="text" name="email" id="in-3"/>
            <label class="complaint-pop-up__label" for="in-3">E-mail</label>
          </div>
          <div class="complaint-pop-up__input-block">
            <textarea class="complaint-pop-up__input" name="message" rows="6" id="in-4"></textarea>
            <label class="complaint-pop-up__label" for="in-4">Сообщение</label>
          </div>
          <div class="complaint-pop-up__btn-wrapper">
            <button class="complaint-pop-up__btn"> <span class="complaint-pop-up__btn-text">Отправить   </span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>