.delivery.top-indent
    .wrapper
        ul.breadcrumbs.col-12.indent
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item Доставка

        h1.head-h1.col-8.indent Доставка

        .delivery__content
            .left-menu.col-3.indent
                ul.left-menu__list
                    li.left-menu__item
                        a(href="#").left-menu__link Оплата
                    li.left-menu__item
                        a(href="#").left-menu__link.active Доставка
                    li.left-menu__item
                        a(href="warranty-service.html").left-menu__link Гарантия и сервис

            .delivery__text.col-8.indent
                .text-area
                    .text-area__paragraph.text-area__paragraph_big Мы стараемся максимально быстро доставить ваш заказ. 90% товаров находятся на наших складах и в салонах SwissTime. Однако, некоторые товары мы получаем от поставщиков, поэтому доставка может занять более продолжительное время, тем не менее, мы гарантируем доставить ваш заказ в течение 3 рабочих дней.
                    .text-area__paragraph_bold Доставка по г. Минску
                    .text-area__paragraph При сумме покупки от 80 BYN - доставка осуществляется бесплатно курьером лично в руки. Возможна доставка до 3-х моделей на выбор. Доставка также осуществляется в субботу и воскресенье. Дополнительную информацию о товаре можно получить на сайте или по телефону +375 44 740 11 11. 
                    .text-area__paragraph_bold Доставка по Беларуси
                    .text-area__paragraph При сумме покупки от 80 BYN - доставка осуществляется бесплатно курьерской службой лично в руки. Оплата возможна наличными деньгами после получения товара, либо банковской картой онлайн при оформлении заказа на сайте. Возможна доставка до 3-х моделей на выбор при сумме покупки от 1000 BYN. Срок доставки – от 1 до 3 рабочих дней.
                    .text-area__paragraph_bold Самовывоз при сумме покупки до 80 BYN
                    .text-area__paragraph При сумме покупки до 80 BYN - позвоните по телефону +375 44 740 11 11. Мы уточним для вас место самовывоза и размер скидки. Возможные варианты в г. Минске:
                
                include _advantages.jade