.faq.top-indent
    .wrapper
        ul.breadcrumbs.col-12.indent
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Компания
            li.breadcrumbs__item Частые вопросы

        h1.head-h1.col-8.indent Частые вопросы

        .faq__content
            .left-menu.col-3.indent
                ul.left-menu__list
                    li.left-menu__item
                        a(href="victorinox-belarus.html").left-menu__link Victorinox Беларусь
                    li.left-menu__item
                        a(href="news.html").left-menu__link Новости
                    li.left-menu__item
                        a(href="#").left-menu__link Карта клиента
                    li.left-menu__item
                        a(href="#").left-menu__link.active Частые вопросы
                    li.left-menu__item
                        a(href="contacts.html").left-menu__link Контакты



            .faq__page.col-8.indent
                ul.tabs__menu
                    li.tabs__menu-item
                        a(href="#").tabs__menu-link.active Все
                    li.tabs__menu-item
                        a(href="#").tabs__menu-link Доставка
                    li.tabs__menu-item
                        a(href="#").tabs__menu-link Гарантия и сервис
                    li.tabs__menu-item
                        a(href="#").tabs__menu-link Товары
                    li.tabs__menu-item
                        a(href="#").tabs__menu-link Магазин
                    li.tabs__menu-item
                        a(href="#").tabs__menu-link Заказ
                    li.tabs__menu-item
                        a(href="#").tabs__menu-link Общие вопросы

                .faq__section
                    h3.faq__section-head Доставка

                    ul.faq__section-list
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Можно ли привезти на выбор несколько моделей часов?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Нужно ли оплачивать доставку, если часы мне не понравились?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Мне срочно нужны часы, сегодня до 17-00. Что мне делать?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Мне срочно нужны часы, сегодня до 17-00. Что мне делать?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Я живу не в России, возможна ли доставка в другую страну?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Заказал Каков вес выбранных мною наручных часов или аксессуаров? И как рассчитать стоимость доставки в другой город?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Могу отказаться от доставки или поменять день/адрес/время?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.


                .faq__section
                    h3.faq__section-head Гарантия и сервис

                    ul.faq__section-list
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Не могу отследить посылку. Что делать?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Могу ли я посмотреть заказ до оплаты?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Мне пришла SMS с номером телефона курьера. Что дальше?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Мне не доставили заказ. Мне не перезвонил курьер.
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Сколько денег с меня должен взять курьер?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Что делать, если у курьера нет сдачи?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question Может ли курьер привезти еще одну модель?
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question У меня нашлась ваша дисконтная карта (я забыл сказать, что у меня есть карта).
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                        li.faq__section-item
                            .faq__section-header
                                .faq__section-question За меня примет заказ другой человек.
                            .faq__section-answer 
                                p.faq__section-answer-text Можно, но по дополнительной договоренности с менеджером и не более 3 моделей. Данная услуга бесплатна и действительна только в Москве. Если же из привезенных часов Вам никакие не понравились или не подошли, то вы оплачиваете только стоимость услуги в размере 500р.
                                
                        

                
                
                