meta(charset="utf-8")
title Интернет-магазин Victorinox

meta(name="viewport" content="width=device-width, initial-scale=1")

link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css")
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto+Slab:400,700&amp;subset=cyrillic" rel="stylesheet">
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.css")
link(rel="stylesheet", href="css/reset.css")
link(rel="stylesheet", href="css/style.css")

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

script(src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js")
script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
//script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js")
script(src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.js")

script(src="js/script.js")