header.header.header-descktop
    .header__top-menu-wrapper
        .wrapper
            .header__top-menu
                ul.header__top-menu-left.col-6.indent
                    li.header__top-menu-left-item
                        a(href="pay.html").header__top-menu-left-link Оплата
                    li.header__top-menu-left-item
                        a(href="delivery.html").header__top-menu-left-link Доставка
                    li.header__top-menu-left-item
                        a(href="warranty-service.html").header__top-menu-left-link Гарантия и сервис

                ul.header__top-menu-right.col-6.indent
                    li.header__top-menu-right-item
                        .header__top-menu-right-link Ежедневно с 10:00 до 19:00
                    li.header__top-menu-right-item
                        a(href="shops.html").header__top-menu-right-link.header__top-menu-right-link_shop Магазины  

    .wrapper
        .header__bottom-block

            .header__bottom-block-left-wrapper.col-6.indent
                .adaptive-nav
                    .adaptive-nav__burger.adaptive-menu__open
                        .adaptive-nav__burger-line.one
                        .adaptive-nav__burger-line.two
                        .adaptive-nav__burger-line.three
                ul.header__bottom-block-left
                    li.header__bottom-block-left-item
                        a(href="catalog.html").header__bottom-block-left-link Каталог

                        .header__sub-menu-shadow
                        .header__sub-menu
                            .wrapper  
                                .header__sub-menu-wrapper
                                    ul.header__sub-menu-item-list.header__sub-menu-item-list_catalog.col-3.indent
                                        li.header__sub-menu-item-list-item.header__sub-menu-item-list-item_img
                                            a(href="#").header__sub-menu-item-list-link
                                                .header__sub-menu-item-list-link-img-wrapper
                                                    img(src="img/content/main/catalog-1.jpg" alt="").header__sub-menu-item-list-link-img
                                        li.header__sub-menu-item-list-item
                                            a(href="#").header__sub-menu-item-list-link.header__sub-menu-item-list-link_head Армейские ножи
                                            ul.header__sub-menu-item-list-item-sub
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Малые карманные ножи 
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Средние карманные ножи
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Большие карманные ножи
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Мультитулы Victorinox
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Аксессуары 
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Швейцарские карточки

                                    ul.header__sub-menu-item-list.header__sub-menu-item-list_catalog.col-3.indent
                                        li.header__sub-menu-item-list-item.header__sub-menu-item-list-item_img
                                            a(href="#").header__sub-menu-item-list-link
                                                .header__sub-menu-item-list-link-img-wrapper
                                                    img(src="img/content/main/catalog-1.jpg" alt="").header__sub-menu-item-list-link-img
                                        li.header__sub-menu-item-list-item
                                            a(href="#").header__sub-menu-item-list-link.header__sub-menu-item-list-link_head Кухонные и профессиональные ножи
                                            ul.header__sub-menu-item-list-item-sub
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Наборы столовых приборов 
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Ножи для овощей
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Ножи для стейка и пиццы
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Кухонные принадлежности и товары для дома
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Кухонные ножи
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Наборы кухонных ножей
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Ножи для хлеба 
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Интсрументы для заточки 
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Попарские кухонные ножи

                                    ul.header__sub-menu-item-list.header__sub-menu-item-list_catalog.col-3.indent
                                        li.header__sub-menu-item-list-item.header__sub-menu-item-list-item_img
                                            a(href="#").header__sub-menu-item-list-link
                                                .header__sub-menu-item-list-link-img-wrapper
                                                    img(src="img/content/main/catalog-1.jpg" alt="").header__sub-menu-item-list-link-img
                                        li.header__sub-menu-item-list-item
                                            a(href="#").header__sub-menu-item-list-link.header__sub-menu-item-list-link_head Часы
                                            ul.header__sub-menu-item-list-item-sub
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Мужские часы
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Женские часы 
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Часы для дайвинга
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Хронографы 
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Бизнес часы
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Часы пилота 
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Механические часы
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Аксессуары 

                    li.header__bottom-block-left-item
                        a(href="#").header__bottom-block-left-link Компания

                        .header__sub-menu
                            .wrapper
                                .header__sub-menu-wrapper
                                    ul.header__sub-menu-item-list.col-3.indent
                                        li.header__sub-menu-item-list-item
                                            a(href="#").header__sub-menu-item-list-link.header__sub-menu-item-list-link_head О нас
                                            ul.header__sub-menu-item-list-item-sub
                                                li.header__sub-menu-item-list-item
                                                    a(href="victorinox-belarus.html").header__sub-menu-item-list-link Victorinox Беларусь
                                                li.header__sub-menu-item-list-item
                                                    a(href="news.html").header__sub-menu-item-list-link Новости 
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Карта клиента
                                                li.header__sub-menu-item-list-item
                                                    a(href="contacts.html").header__sub-menu-item-list-link Контакты

                                    ul.header__sub-menu-item-list.col-3.indent
                                        li.header__sub-menu-item-list-item
                                            a(href="shops.html").header__sub-menu-item-list-link.header__sub-menu-item-list-link_head Наши магазины
                                            ul.header__sub-menu-item-list-item-sub
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link ТЦ Замок
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link ТЦ Галерея Минск
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link ТЦ Dana Mall

                                    ul.header__sub-menu-item-list.col-3.indent
                                        li.header__sub-menu-item-list-item
                                            a(href="faq.html").header__sub-menu-item-list-link.header__sub-menu-item-list-link_head Частые вопросы
                                            ul.header__sub-menu-item-list-item-sub
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Заказ
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Оплата
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Доставка 
                                                li.header__sub-menu-item-list-item
                                                    a(href="#").header__sub-menu-item-list-link Возврат товара

                    li.header__bottom-block-left-item
                        a(href="#").header__bottom-block-left-link B2B

            .header__logo
                a(href="index.html").header__logo-link
                    img(src="img/logo.svg" alt="").header__logo-img

            ul.header__bottom-block-right.col-6.indent
                li.header__bottom-block-right-item
                    .header__bottom-block-left-link.header__bottom-block-right-link_search#search-open
                        span.header__bottom-block-right-link-text Поиск

                    .search.indent
                        .wrapper
                            .search__block
                                .search__block-left
                                    input(type="text" name="search" placeholder="Поиск по сайту").search__block-left-input
                                .search__block-right#search-close
                                    .search__block-right-text Закрыть
                            .search__result-wrapper
                                a(href="card.html").search__result
                                    .search__result-left
                                        img(src="img/Content/product/product-1.jpg" alt="").search__result-left-img
                                    .search__result-right
                                        .search__result-right-head Нож охотника Hunter Pro VICTORINOX 0.9410.3
                                        .search__result-right-cost 55,00 руб.
                                a(href="card.html").search__result
                                    .search__result-left
                                        img(src="img/Content/product/product-2.jpg" alt="").search__result-left-img
                                    .search__result-right
                                        .search__result-right-head Нож охотника Hunter Pro VICTORINOX 0.9410.3
                                        .search__result-right-cost 55,00 руб.
                                a(href="card.html").search__result
                                    .search__result-left
                                        img(src="img/Content/product/product-3.jpg" alt="").search__result-left-img
                                    .search__result-right
                                        .search__result-right-head Нож охотника Hunter Pro VICTORINOX 0.9410.3
                                        .search__result-right-cost 55,00 руб.

                li.header__bottom-block-right-item
                    a(href="tel:+375447401111").header__bottom-block-right-link.header__bottom-block-right-link_phone 
                        span.header__bottom-block-right-link_phone-text +375 44 740-11-11



        //Basket bottom button
        .basket-btn.col-12
            .wrapper
                .basket-btn__wrapper.indent
                    a(href="basket.html").basket-btn__link
                        .basket-btn__left-block Корзина
                        .basket-btn__right-block 50 000 руб.

    

                
        
    
