.main.top-indent
    .main__slider
        .main__slider-block
            img(src="img/content/main/slide-1.jpg" alt="").main__slider-img
            .main__slider-text-block
                .main__slider-text-block-head Нож охотника<br> Hunter PRO M Alox
                .main__slider-text-block-text Элегантный внешний вид, привлекательность материалов и продвинутая функциональность.
                button.main__slider-text-block-btn Подробнее
        .main__slider-block
            img(src="img/content/main/slide-2.jpg" alt="").main__slider-img
            .main__slider-text-block
                .main__slider-text-block-head Нож охотника<br> Hunter PRO M Alox
                .main__slider-text-block-text Элегантный внешний вид, привлекательность материалов и продвинутая функциональность.
                button.main__slider-text-block-btn Подробнее
        .main__slider-block
            img(src="img/content/main/slide-3.jpg" alt="").main__slider-img
            .main__slider-text-block
                .main__slider-text-block-head Нож охотника<br> Hunter PRO M Alox
                .main__slider-text-block-text Элегантный внешний вид, привлекательность материалов и продвинутая функциональность.
                button.main__slider-text-block-btn Подробнее
    .wrapper

        include _popular-product.jade

        .head-h1.indent Каталог
        
        include _catalog-grid.jade

        .text-block.col-8.indent
            h1.head-h1 Victorinox в Беларуси
            p.text-block__paragraph.text-block__paragraph_big Швейцарские часы давно зарекомендовали себя как исключительно надежные и безотказно работающие. В тоже время часы как стильный аксессуар помогут вам выразить свою индивидуальность.
            p.text-block__paragraph В 1884 году Карл Эльзенер открыл свою мастерскую по производству ножей. Несколько лет спустя, с созданием легендарного Швейцарского Армейского ножа, началось развитие нашей компании.
            p.text-block__paragraph В настоящее время Victorinox производит и продает уникальные высококачественные продукты по всему миру, которые находят своё практическое применение во многих сферах нашей жизни: швейцарские армейские ножи, кухонные ножи, дорожные сумки, чемоданы и аксессуары, часы. 
            p.text-block__paragraph Головной офис компании находится в Ибах Швиц, в самом сердце Швейцарии.
            p.text-block__paragraph От простого армейского ножа до всемирно известного торгового бренда. Генеральный директор Victorinox, который возглавляет компанию уже в четвертом поколении, представляет вам многогранный мир Victorinox.

        include _advantages.jade


