
<div class="news-card top-indent">
  <div class="wrapper">
    <ul class="breadcrumbs col-12 indent">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Новости</a></li>
      <li class="breadcrumbs__item">Элегантный дизайн для обладателей изысканного вкуса</li>
    </ul>
    <h1 class="head-h1 col-8 indent">Элегантный дизайн для обладателей изысканного вкуса</h1>
    <div class="news-card__date col-8 indent">3 декабря 2018</div>
    <div class="news-card__img col-12 indent"><img class="news-card__img-pic" src="img/Content/News-page/news-page-1.jpg" alt=""/></div>
    <div class="text-area col-8 indent">
      <div class="text-area__paragraph text-area__paragraph_big">Отлитые из единого куска металла и прекрасно сбалансированные, эти высокоточные ножи способны удовлетворить любые ожидания самых взыскательных пользователей и клиентов. Каждая модель может похвастаться бесшовным переходом от лезвия к рукояти ножа.</div>
      <div class="text-area__paragraph">Точка этого перехода специально эргономично спроектирована для удобства прочного захвата рукояти и определяется едва заметным утолщением стали на лезвии. Деревянная подставка перекликается по цвету с рукоятями ножей и представляет собой прекрасное решение для хранения кухонных инструментов.</div>
      <div class="text-area__paragraph">Созданный из прочной древесины бука и оснащённый удобно расположенными слотами для лезвий, этот набор из шести ножей добавит нотку стиля любой кухне. Приготовление пищи с использованием этого элегантного набора ножей гарантирует вдохновляющий кулинарный опыт.</div>
      <div class="text-area__paragraph_bold">Особенности</div>
    </div>
    <ul class="text-area__list">
      <li class="text-area__paragraph text-area__list-item">Безопасное и элегантное решение для хранения ножей</li>
      <li class="text-area__paragraph text-area__list-item">Идеальная комбинация ножей для любых кулинарных целей </li>
      <li class="text-area__paragraph text-area__list-item">Прекрасно сбалансированные кованые ножи</li>
    </ul>
    <div class="news-card__news-block">
      <div class="head-h1 col-8 indent">Свежие новости</div>
      <div class="news__content"><a class="news__item col-4 indent" href="news-card.html">
          <div class="news__item-content">
            <div class="news__item-img"><img class="news__item-img-pic" src="img/Content/News/news-1.jpg" alt=""/></div>
            <div class="news__item-info">
              <h4 class="news__item-info-head">В память о первом мастере ножевого дела</h4>
              <div class="news__item-info-description">В память о столетии со дня смерти первого мастера ножевого дела Карла Эльзенера монетный двор Швейцарии выпускает серебряную монету "швейцарский армейский нож"</div>
              <div class="news__item-info-date">17 декабря 2018</div>
            </div>
          </div></a><a class="news__item col-4 indent" href="news-card.html">
          <div class="news__item-content">
            <div class="news__item-img"><img class="news__item-img-pic" src="img/Content/News/news-2.jpg" alt=""/></div>
            <div class="news__item-info">
              <h4 class="news__item-info-head">Создан для приключений</h4>
              <div class="news__item-info-description">Особенностью этой последней версии модели Hunter Pro являются столь популярные сегодня алюминиевые накладки Alox</div>
              <div class="news__item-info-date">17 января 2019</div>
            </div>
          </div></a><a class="news__item col-4 indent" href="news-card.html">
          <div class="news__item-content">
            <div class="news__item-img"><img class="news__item-img-pic" src="img/Content/News/news-3.jpg" alt=""/></div>
            <div class="news__item-info">
              <h4 class="news__item-info-head">Элегантный дизайн для обладателей изысканного вкуса</h4>
              <div class="news__item-info-description">Как любители кулинарии, так и профессиональные повара по достоинству оценили нашу коллекцию ножей Grand Maître.</div>
              <div class="news__item-info-date">3 декабря 2018</div>
            </div>
          </div></a></div>
    </div>
  </div>
</div>