.news-card.top-indent
    .wrapper
        ul.breadcrumbs.col-12.indent
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Новости
            li.breadcrumbs__item Элегантный дизайн для обладателей изысканного вкуса

        h1.head-h1.col-8.indent Элегантный дизайн для обладателей изысканного вкуса
        .news-card__date.col-8.indent 3 декабря 2018

        .news-card__img.col-12.indent
            img(src="img/Content/News-page/news-page-1.jpg" alt="").news-card__img-pic

        .text-area.col-8.indent
            .text-area__paragraph.text-area__paragraph_big Отлитые из единого куска металла и прекрасно сбалансированные, эти высокоточные ножи способны удовлетворить любые ожидания самых взыскательных пользователей и клиентов. Каждая модель может похвастаться бесшовным переходом от лезвия к рукояти ножа.
            .text-area__paragraph Точка этого перехода специально эргономично спроектирована для удобства прочного захвата рукояти и определяется едва заметным утолщением стали на лезвии. Деревянная подставка перекликается по цвету с рукоятями ножей и представляет собой прекрасное решение для хранения кухонных инструментов.
            .text-area__paragraph Созданный из прочной древесины бука и оснащённый удобно расположенными слотами для лезвий, этот набор из шести ножей добавит нотку стиля любой кухне. Приготовление пищи с использованием этого элегантного набора ножей гарантирует вдохновляющий кулинарный опыт.

            .text-area__paragraph_bold Особенности
            ul.text-area__list
                li.text-area__paragraph.text-area__list-item Безопасное и элегантное решение для хранения ножей
                li.text-area__paragraph.text-area__list-item Идеальная комбинация ножей для любых кулинарных целей 
                li.text-area__paragraph.text-area__list-item Прекрасно сбалансированные кованые ножи

        .news-card__news-block
            .head-h1.col-8.indent Свежие новости
            .news__content
                a(href="news-card.html").news__item.col-4.indent
                    .news__item-content
                        .news__item-img
                            img(src="img/Content/News/news-1.jpg" alt="").news__item-img-pic
                        .news__item-info
                            h4.news__item-info-head В память о первом мастере ножевого дела
                            .news__item-info-description В память о столетии со дня смерти первого мастера ножевого дела Карла Эльзенера монетный двор Швейцарии выпускает серебряную монету "швейцарский армейский нож"
                            .news__item-info-date 17 декабря 2018

                a(href="news-card.html").news__item.col-4.indent
                    .news__item-content
                        .news__item-img
                            img(src="img/Content/News/news-2.jpg" alt="").news__item-img-pic
                        .news__item-info
                            h4.news__item-info-head Создан для приключений
                            .news__item-info-description Особенностью этой последней версии модели Hunter Pro являются столь популярные сегодня алюминиевые накладки Alox
                            .news__item-info-date 17 января 2019

                a(href="news-card.html").news__item.col-4.indent
                    .news__item-content
                        .news__item-img
                            img(src="img/Content/News/news-3.jpg" alt="").news__item-img-pic
                        .news__item-info
                            h4.news__item-info-head Элегантный дизайн для обладателей изысканного вкуса
                            .news__item-info-description Как любители кулинарии, так и профессиональные повара по достоинству оценили нашу коллекцию ножей Grand Maître.
                            .news__item-info-date 3 декабря 2018