.news.top-indent
    .wrapper
        ul.breadcrumbs.col-12.indent
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Компания
            li.breadcrumbs__item Новости

        h1.head-h1.col-8.indent Новости

        ul.tabs__menu.col-12.indent
            li.tabs__menu-item
                a(href="#").tabs__menu-link.active Все новости
            li.tabs__menu-item
                a(href="#").tabs__menu-link Наши акции
            li.tabs__menu-item
                a(href="#").tabs__menu-link Часы
            li.tabs__menu-item
                a(href="#").tabs__menu-link Кухонные ножи
            li.tabs__menu-item
                a(href="#").tabs__menu-link Мультитулы Victorinox
            li.tabs__menu-item
                a(href="#").tabs__menu-link Аксессуары

        .news__content
            a(href="news-card.html").news__item.col-4.indent
                .news__item-content
                    .news__item-img
                        img(src="img/Content/News/news-1.jpg" alt="").news__item-img-pic
                    .news__item-info
                        h4.news__item-info-head В память о первом мастере ножевого дела
                        .news__item-info-description В память о столетии со дня смерти первого мастера ножевого дела Карла Эльзенера монетный двор Швейцарии выпускает серебряную монету "швейцарский армейский нож"
                        .news__item-info-date 17 декабря 2018

            a(href="news-card.html").news__item.col-4.indent
                .news__item-content
                    .news__item-img
                        img(src="img/Content/News/news-2.jpg" alt="").news__item-img-pic
                    .news__item-info
                        h4.news__item-info-head Создан для приключений
                        .news__item-info-description Особенностью этой последней версии модели Hunter Pro являются столь популярные сегодня алюминиевые накладки Alox
                        .news__item-info-date 17 января 2019

            a(href="news-card.html").news__item.col-4.indent
                .news__item-content
                    .news__item-img
                        img(src="img/Content/News/news-3.jpg" alt="").news__item-img-pic
                    .news__item-info
                        h4.news__item-info-head Элегантный дизайн для обладателей изысканного вкуса
                        .news__item-info-description Как любители кулинарии, так и профессиональные повара по достоинству оценили нашу коллекцию ножей Grand Maître.
                        .news__item-info-date 3 декабря 2018

            a(href="news-card.html").news__item.col-4.indent
                .news__item-content
                    .news__item-img
                        img(src="img/Content/News/news-4.jpg" alt="").news__item-img-pic
                    .news__item-info
                        h4.news__item-info-head Коллекция Морской камуфляж
                        .news__item-info-description Так вы будете готовы справиться с любой проблемой!
                        .news__item-info-date 3 декабря 2018

            a(href="news-card.html").news__item.col-4.indent
                .news__item-content
                    .news__item-img
                        img(src="img/Content/News/news-5.jpg" alt="").news__item-img-pic
                    .news__item-info
                        h4.news__item-info-head Прекрасное рождество
                        .news__item-info-description Практичный подарок, который придётся по душе и ему и ей!
                        .news__item-info-date 3 декабря 2018

            a(href="news-card.html").news__item.col-4.indent
                .news__item-content
                    .news__item-img
                        img(src="img/Content/News/news-6.jpg" alt="").news__item-img-pic
                    .news__item-info
                        h4.news__item-info-head Ваш лучший помощник с деревянной рукоятью
                        .news__item-info-description Функциональность, упакованная в элегантные накладки из орехового дерева
                        .news__item-info-date 22 июня 2018

        .product-block__show-more.indent
            .product-block__show-more-wrapper
                .product-block__show-more-text Показать еще 12 товаров

            
