.pay.top-indent
    .wrapper
        ul.breadcrumbs.col-12.indent
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item Оплата

        h1.head-h1.col-8.indent Оплата

        .pay__content
            .left-menu.col-3.indent
                ul.left-menu__list
                    li.left-menu__item
                        a(href="pay.html").left-menu__link.active Оплата
                    li.left-menu__item
                        a(href="delivery.html").left-menu__link Доставка
                    li.left-menu__item
                        a(href="warranty-service.html").left-menu__link Гарантия и сервис
            
            .pay__page.col-8.indent
                .text-area
                    .text-area__paragraph.text-area__paragraph_big Оплатить заказ вы можете наличными курьеру или же любым удобным для вас способом, учитывая регион и способ доставки.
                    .text-area__paragraph Вы можете отказаться от оплаты заказа в момент получения, если товар вам не понравился, при обнаружении дефектов или некомплектности. Кроме того, приобретенный в нашем интернет-магазине товар вы можете вернуть после его оплаты и получить полное возмещение денежных средств.

                ul.pay-card
                    li.pay-card__item
                        img(src="img/Content/Pay/pay_webpay.png" alt="").pay-card__img
                    li.pay-card__item
                        img(src="img/Content/Pay/pay_visa.png" alt="").pay-card__img
                    li.pay-card__item
                        img(src="img/Content/Pay/pay_verified-by-visa.png" alt="").pay-card__img
                    li.pay-card__item
                        img(src="img/Content/Pay/pay_mastercard.png" alt="").pay-card__img
                    li.pay-card__item
                        img(src="img/Content/Pay/pay_mastercard-securecode.png" alt="").pay-card__img
                    li.pay-card__item
                        img(src="img/Content/Pay/pay_belkart.png" alt="").pay-card__img
                    li.pay-card__item
                        img(src="img/Content/Pay/pay_halva.png" alt="").pay-card__img
                    li.pay-card__item
                        img(src="img/Content/Pay/pay_karta-pokupok.png" alt="").pay-card__img
                    li.pay-card__item
                        img(src="img/Content/Pay/pay_smart.png" alt="").pay-card__img

                .pay__cash
                    h6.pay__head Наличными курьеру
                    p.pay__paragraph При доставке по Беларуси вы рассчитываетесь с курьером наличными деньгами. Оплата происходит после получения товара. В Минске при расчете по факту доставки возможна оплата наличными деньгами и банковской картой.
                    p.pay__paragraph Если упаковка повреждена, составляется акт в присутствии руководителя почтового отделения (получение на почте) или курьера, и в случае дефекта товара или некомплектности вы имеете право отказаться от получения посылки.

                .pay__plastic-card
                    h6.pay__head Пластиковой картой при получении

                    .pay__plastic-card-img-block
                        .pay__plastic-card-img
                            img(src="img/Content/Pay/mastercard_logo.svg" alt="").pay__plastic-card-img-item
                        .pay__plastic-card-img
                            img(src="img/Content/Pay/visa_logo.svg" alt="").pay__plastic-card-img-item

                    p.pay__paragraph Выберите «оплата картой при получении». К оплате принимаются карты VISA, MasterCard, Diners Club. Оплата производится при получении через мобильный POS-терминал. Комиссия не взимается. Безопасность платежей гарантируется.

                .pay__online
                    h6.pay__head Банковской картой онлайн
                    .pay__online-img-block
                        .pay__online-img
                            img(src="img/Content/Pay/webpay_logo.png" alt="").pay__online-img-item
                    p.pay__paragraph Операция оплаты банковской картой онлайн полностью конфиденциальна и безопасна.<br> Ваши персональные данные и реквизиты карточки будут введены не на странице нашего интернет-магазина, а на авторизационной странице платежной системы. Доступ к ним осуществляется по протоколу безопасной передачи данных (SSL), а для осуществления аутентификации держателя карточки используются методы Verified by Visa и MasterCard Securecode.
                    p.pay__paragraph После совершения оплаты с использованием банковской карточки необходимо сохранять полученные карт-чеки (подтверждения об оплате, полученные в Интернет-магазине) для сверки с выпиской из карт-счёта (с целью подтверждения совершённых операций) в случае возникновения спорных ситуаций. Возврат денежных средств осуществляется на ту карточку, с которой была произведена оплата.
                    p.pay__paragraph К оплате принимаются карты БЕЛКАРТ, Visa и MasterCard всех классов и банков, Visa Electron, Maestro с CVC-кодом. Мы рекомендуем заранее обратиться в свой банк, чтобы удостовериться в том, что ваша карта может быть использована в системе Webpay.

                .pay__check
                    h6.pay__head Безналичный расчет
                    p.pay__paragraph Швейцарские часы можно приобрести по безналичному расчету. Цены на сайте включают НДС. Заказ по безналичному расчету можно оформить через корзину сайта или связавшись с оператором. Наш специалист подготовит счёт-фактуру (при необходимости договор купли-продажи) и отправит вам по факсу или на электронную почту. После зачисления денег наш курьер привезет товар в назначенное время и место вместе с документами на подпись, включая товарно-транспортную накладную.