.carusel-slider
    .head-h1 Популярные товары
    .carusel-slider__block
        .carusel-slider__product-block
            a(href="card.html").carusel-slider__product
                .carusel-slider__product-img-block
                    img(src="img/content/main/knife-1.jpg" alt="").carusel-slider__product-img
                .carusel-slider__product-head-block
                    .carusel-slider__product-head Нож охотника Hunter Pro VICTORINOX 0.9410.3
                .carusel-slider__product-price 195,60&nbspруб.
                button.carusel-slider__product-btn 
                    span.carusel-slider__product-btn-text  В корзину
        .carusel-slider__product-block
            a(href="card.html").carusel-slider__product
                .carusel-slider__product-img-block
                    img(src="img/content/main/knife-2.jpg" alt="").carusel-slider__product-img
                .carusel-slider__product-head-block
                    .carusel-slider__product-head Швейцарская карточка SwissCard Classic VICTORINOX 0.7100.T
                .carusel-slider__product-price 63,25&nbspруб.
                button.carusel-slider__product-btn 
                    span.carusel-slider__product-btn-text  В корзину
        .carusel-slider__product-block
            a(href="card.html").carusel-slider__product
                .carusel-slider__product-img-block
                    img(src="img/content/main/knife-3.jpg" alt="").carusel-slider__product-img
                .carusel-slider__product-head-block
                    .carusel-slider__product-head Нож перочинный Swiss Champ VICTORINOX 1.6795.3
                .carusel-slider__product-price 200,00&nbspруб.
                button.carusel-slider__product-btn 
                    span.carusel-slider__product-btn-text  В корзину
        .carusel-slider__product-block
            a(href="card.html").carusel-slider__product
                .carusel-slider__product-img-block
                    img(src="img/content/main/knife-4.jpg" alt="").carusel-slider__product-img
                .carusel-slider__product-head-block
                    .carusel-slider__product-head Нож-брелок Rally VICTORINOX 0.6163
                .carusel-slider__product-price 29,90&nbspруб.
                button.carusel-slider__product-btn 
                    span.carusel-slider__product-btn-text  В корзину
        .carusel-slider__product-block
            a(href="card.html").carusel-slider__product
                .carusel-slider__product-img-block
                    img(src="img/content/main/knife-5.jpg" alt="").carusel-slider__product-img
                .carusel-slider__product-head-block
                    .carusel-slider__product-head Нож охотника Hunter Pro Wood VICTORINOX 0.9410.63
                .carusel-slider__product-price 320,50&nbspруб.
                button.carusel-slider__product-btn 
                    span.carusel-slider__product-btn-text  В корзину
        .carusel-slider__product-block
            a(href="card.html").carusel-slider__product
                .carusel-slider__product-img-block
                    img(src="img/content/main/knife-4.jpg" alt="").carusel-slider__product-img
                .carusel-slider__product-head-block
                    .carusel-slider__product-head Нож-брелок Rally VICTORINOX 0.6163
                .carusel-slider__product-price 29,90&nbspруб.
                button.carusel-slider__product-btn 
                    span.carusel-slider__product-btn-text  В корзину