
<div class="carusel-slider">
  <div class="head-h1">Популярные товары</div>
  <div class="carusel-slider__block">
    <div class="carusel-slider__product-block"><a class="carusel-slider__product" href="card.html">
        <div class="carusel-slider__product-img-block"><img class="carusel-slider__product-img" src="img/content/main/knife-1.jpg" alt=""/></div>
        <div class="carusel-slider__product-head-block">
          <div class="carusel-slider__product-head">Нож охотника Hunter Pro VICTORINOX 0.9410.3</div>
        </div>
        <div class="carusel-slider__product-price">195,60&nbspруб.</div>
        <button class="carusel-slider__product-btn"> <span class="carusel-slider__product-btn-text"> В корзину</span></button></a></div>
    <div class="carusel-slider__product-block"><a class="carusel-slider__product" href="card.html">
        <div class="carusel-slider__product-img-block"><img class="carusel-slider__product-img" src="img/content/main/knife-2.jpg" alt=""/></div>
        <div class="carusel-slider__product-head-block">
          <div class="carusel-slider__product-head">Швейцарская карточка SwissCard Classic VICTORINOX 0.7100.T</div>
        </div>
        <div class="carusel-slider__product-price">63,25&nbspруб.</div>
        <button class="carusel-slider__product-btn"> <span class="carusel-slider__product-btn-text"> В корзину</span></button></a></div>
    <div class="carusel-slider__product-block"><a class="carusel-slider__product" href="card.html">
        <div class="carusel-slider__product-img-block"><img class="carusel-slider__product-img" src="img/content/main/knife-3.jpg" alt=""/></div>
        <div class="carusel-slider__product-head-block">
          <div class="carusel-slider__product-head">Нож перочинный Swiss Champ VICTORINOX 1.6795.3</div>
        </div>
        <div class="carusel-slider__product-price">200,00&nbspруб.</div>
        <button class="carusel-slider__product-btn"> <span class="carusel-slider__product-btn-text"> В корзину</span></button></a></div>
    <div class="carusel-slider__product-block"><a class="carusel-slider__product" href="card.html">
        <div class="carusel-slider__product-img-block"><img class="carusel-slider__product-img" src="img/content/main/knife-4.jpg" alt=""/></div>
        <div class="carusel-slider__product-head-block">
          <div class="carusel-slider__product-head">Нож-брелок Rally VICTORINOX 0.6163</div>
        </div>
        <div class="carusel-slider__product-price">29,90&nbspруб.</div>
        <button class="carusel-slider__product-btn"> <span class="carusel-slider__product-btn-text"> В корзину</span></button></a></div>
    <div class="carusel-slider__product-block"><a class="carusel-slider__product" href="card.html">
        <div class="carusel-slider__product-img-block"><img class="carusel-slider__product-img" src="img/content/main/knife-5.jpg" alt=""/></div>
        <div class="carusel-slider__product-head-block">
          <div class="carusel-slider__product-head">Нож охотника Hunter Pro Wood VICTORINOX 0.9410.63</div>
        </div>
        <div class="carusel-slider__product-price">320,50&nbspруб.</div>
        <button class="carusel-slider__product-btn"> <span class="carusel-slider__product-btn-text"> В корзину</span></button></a></div>
    <div class="carusel-slider__product-block"><a class="carusel-slider__product" href="card.html">
        <div class="carusel-slider__product-img-block"><img class="carusel-slider__product-img" src="img/content/main/knife-4.jpg" alt=""/></div>
        <div class="carusel-slider__product-head-block">
          <div class="carusel-slider__product-head">Нож-брелок Rally VICTORINOX 0.6163</div>
        </div>
        <div class="carusel-slider__product-price">29,90&nbspруб.</div>
        <button class="carusel-slider__product-btn"> <span class="carusel-slider__product-btn-text"> В корзину</span></button></a></div>
  </div>
</div>