.victorinox-belarus.top-indent
    .wrapper
        ul.breadcrumbs.col-12.indent
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Компания
            li.breadcrumbs__item Victorinox Беларусь

        h1.head-h1.col-8.indent Victorinox Беларусь

        .victorinox-belarus__content
            ul.victorinox-belarus__menu.col-3.indent
                li.victorinox-belarus__menu-item
                    a(href="#").victorinox-belarus__menu-link.active Victorinox Беларусь
                li.victorinox-belarus__menu-item
                    a(href="news.html").victorinox-belarus__menu-link Новости
                li.victorinox-belarus__menu-item
                    a(href="#").victorinox-belarus__link Карта клиента
                li.victorinox-belarus__menu-item
                    a(href="#").victorinox-belarus__menu-link Частые вопросы
                li.victorinox-belarus__menu-item
                    a(href="contacts.html").victorinox-belarus__menu-link Контакты

            .victorinox-belarus__text.col-8.indent
                .text-area
                    .text-area__paragraph.text-area__paragraph_big Швейцарские часы Tissot, Calvin Klein, Swatch, Claude Bernard, Victorinox, Longines всемирно известны и продаются по всему миру. В Беларуси официальным представителем и прямым поставщиком является торговая сеть SwissTime, которая работает уже с 2009г.
                    .text-area__paragraph Кроме того, легендарные швейцарские часы представлены в трех мультибрендовых часовых магазинах SwissTime в Минске. Компания имеет собственный авторизированный сервисный центр.
                    .text-area__paragraph В интернет-магазине SwissTime действует та же единая дисконтная политика, те же скидки и акции, что и в розничной торговой сети. По Минску работает собственная служба доставки. По Беларуси доставка осуществляется посредством зарекомендовавших себя курьерских служб. Доставка бесплатна.

                .victorinox-belarus__slider
                    .victorinox-belarus__slider-item
                        img(src="img/Content/Victorinox-belarus/victorinox-belarus-1.jpg").victorinox-belarus__slider-item-img
                    .victorinox-belarus__slider-item
                        img(src="img/Content/Victorinox-belarus/victorinox-belarus-2.jpg").victorinox-belarus__slider-item-img
                    .victorinox-belarus__slider-item
                        img(src="img/Content/Victorinox-belarus/victorinox-belarus-3.jpg").victorinox-belarus__slider-item-img

                .text-area
                    .text-area__paragraph Victorinox Swiss Army изготавливает часы в собственных мастерских, делая особый акцент на технических характеристиках для обеспечения их максимальной практичности и функциональности. Часы Victorinox отвечают высочайшим стандартам швейцарской индустрии. Прежде чем попасть в торговую сеть, каждый экземпляр подвергается серии из не менее чем 100 испытаний. 
                    .text-area__paragraph В дополнение к сложному процессу контроля, каждый экземпляр часов тщательно проверяется визуально на каждой стадии производственного процесса. Подобная процедура позволяет предоставить на часы Victorinox 3-хлетнюю гарантию. Эти высокоточные инструменты с актуальным и вневременным дизайном призваны служить долгие годы. Victorinox Swiss Army постоянно обогащает свои коллекции новыми элементами дизайна и инновационными функциями.