.warranty-service.top-indent
    .wrapper
        ul.breadcrumbs.col-12.indent
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Компания
            li.breadcrumbs__item Гарантия и сервис

        h1.head-h1.col-8.indent Гарантия и сервис

        .map.indent
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9af2acfa9ac27a4b987e53c9732d0b3a9852f48d233c2ab257ab194d1e8611b3&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>

        .warranty-service__content.col-8.indent
            .warranty-service__service-block
                h2.head-h1 Сервисный центр
                .warranty-service__service-block-address ул.Первомайская, д.4

                .text-area
                    .text-area__paragraph.text-area__paragraph_big Сервисный центр является авторизированным центром по обслуживанию и ремонту швейцарских часов. В нашей мастерской используется современное оборудование и инструмент, позволяющий выполнять полный комплекс работ по диагностике и сервисному обслуживанию.
                    .text-area__paragraph Наши мастера регулярно посещают практические семинары, где совершенствуют свои знания и технику исполнения ремонтных работ. Мы оказываем целый ряд услуг, как по гарантийному, так и послегарантийному обслуживанию швейцарских часов, используя только оригинальные детали от производителя.
                    .text-area__paragraph_bold Режим работы
                    .text-area__paragraph Будние дни с 10:00 до 20:00, выходные с 11:00 до 19:00

                .contacts__phone-block
                    h4.text__paragraph_head Позвоните нам:
                    a(href="tel:+375447034444").contacts__phone-block-text +375 44 703-44-44

            .warranty-service__warranty-block
                h2.head-h1 Гарантия

                .text-area
                    .text-area__paragraph На швейцарские часы распространяется гарантия сроком от двадцати четырех (24) до тридцати шести (36) месяцев со дня покупки. Международная гарантия распространяется на недостатки материала и производственные дефекты. Гарантия вступает в силу только в случае, если гарантийный талон заполнен полностью и правильно, имеет дату продажи и печать официального дилера. В течение гарантийного срока и при наличии действительного гарантийного талона, Вы имеете право на бесплатное устранение дефектов.
                    .text-area__paragraph_bold Гарантия не распространяется на:

                    ul.text-area__list
                        li.text-area__list-item.text-area__paragraph Срок службы элемента питания;
                        li.text-area__list-item.text-area__paragraph Естественный износ и старение (например, царапины на стекле; изменение цвета и/или структуры материала ремешка и неметаллических цепочек (кожаных, тканевых, каучуковых); (отслаивание декоративного покрытия);
                        li.text-area__list-item.text-area__paragraph Повреждения любых деталей часов в результате ненадлежащего использования, недостаточного ухода, небрежности, случайности (удары, вмятины, раздавливание, разбитое стекло и т. п.), неправильного использования часов и несоблюдения инструкций по эксплуатации;
                        li.text-area__list-item.text-area__paragraph Часы, подвергшиеся манипуляциям неуполномоченных лиц (например, замена элементов питания, обслуживание или ремонт), или у которых были изменены их первоначальные свойства.

        .warranty-service__img-block.col-12
            .warranty-service__img-block-area.col-6.indent
                img(src="img/Content/Warranty-service/warranty-service-1.jpg" alt="").warranty-service__img-block-area-pic
            .warranty-service__img-block-area.col-6.indent
                img(src="img/Content/Warranty-service/warranty-service-2.jpg" alt="").warranty-service__img-block-area-pic

