.news {

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: block;
        margin-bottom: 30px;

        &-content {
            border: 1px solid $c_soft_grey;
            position: relative;
            height: 100%;

            &:hover {
                box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
            }
        }

        &-img {
            max-height: 240px;
            margin-bottom: 24px;
            
            &-pic {
                width: 100%;
                height: auto;
            }
        }

        &-info {
            padding: 0 30px 24px 30px;
            //max-height: 375px;
            overflow: hidden;

            &-head {
                @extend %f_size_h4;
                margin-bottom: 16px;
            }

            &-description {
                @extend %f_size_p;
                color: $c_dark_grey;
                padding-bottom: 64px;
            }

            &-date {
                @extend %f_size_p;
                color: $c_grey;
                position: absolute;
                bottom: 24px;
                left: 30px;
            }
        }
    }
}

.tabs {
    &__menu {
        //display: flex;
        //justify-content: center;
        //margin: 0 auto;
        text-align: center;
        @extend %f_size_p;
        margin-bottom: 30px;

        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        &-wrapper {
            width: 100%;
            max-width: 1346px;
        }

        &-item {
            margin-left: 12px;
            display: inline-block;

            &:first-child {
                margin-left: 0;
            }
        }

        &-link {
            display: block;
            padding: 6px 16px;
            background: $c_soft_grey;
        }

        .active {
            background: $c_dark_grey;
            color: $c_white;
        }
    }
}

@media all and (max-width: 1023px) {
    .news {
        .wrapper {
            padding: 0 24px;
        }

        &__item {
            width: 50%;
            margin-bottom: 24px;
            padding: 0 12px;
        }
    }

    .tabs {
        &__menu {
            line-height: $line_height_24;
            font-size: $f_size_12;
            margin-bottom: 25px;

            &-item {
                margin-left: 10px;
            }
    
            &-link {
                padding: 4px 10px;
            }
        }
    }
}

@media all and (max-width: 640px) {
    .news {

        .wrapper {
            padding: 0 6px;
        }

        &__item {
            width: 100%;
            margin-bottom: 24px;
            padding: 0 12px;

            &-img {
                overflow: hidden;
                &-pic {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

    .breadcrumbs {
        display: none;
    }
}
